<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="dual_fr3">

  <xacro:include filename="$(find franka_description)/robots/common/franka_robot.xacro"/>
  <xacro:include filename="$(find franka_description)/robots/common/franka_arm.ros2_control.xacro"/>
  <xacro:include filename="$(find dual_fr3_moveit_config)/config/research_franka_hand.xacro"/>

  <xacro:arg name="use_fake_hardware" default="true"/>
  <xacro:arg name="fake_sensor_commands" default="false"/>
  <xacro:arg name="left_robot_ip" default=""/>
  <xacro:arg name="right_robot_ip" default=""/>
  <xacro:arg name="load_left_ros2_control" default="true"/>
  <xacro:arg name="load_right_ros2_control" default="true"/>
  <xacro:arg name="load_gripper" default="true"/>
  <xacro:arg name="ee_id" default="franka_hand"/>
  <xacro:arg name="arm_yaw" default="0"/>

  <material name="fixture_blue_gray">
    <color rgba="0.7921568627 0.8196078431 0.9333333333 1.0"/>
  </material>

  <material name="fixture_white">
    <color rgba="1.0 1.0 1.0 1.0"/>
  </material>

  <link name="world"/>

  <link name="worktable">
    <visual>
      <origin xyz="0.375 0.75 -0.02" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://dual_fr3_moveit_config/meshes/base_link.STL"/>
      </geometry>
      <material name="fixture_blue_gray"/>
    </visual>
    <collision>
      <origin xyz="0.375 0.75 -0.02" rpy="0 0 0"/>
      <geometry>
        <box size="0.75 1.5 0.04"/>
      </geometry>
    </collision>
  </link>

  <link name="plate">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://dual_fr3_moveit_config/meshes/Plate.STL"/>
      </geometry>
      <material name="fixture_blue_gray"/>
    </visual>
    <collision>
      <origin xyz="0 0 0.025" rpy="0 0 0"/>
      <geometry>
        <box size="0.6 1.06 0.05"/>
      </geometry>
    </collision>
  </link>

  <link name="trunking">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://dual_fr3_moveit_config/meshes/Trunking.STL"/>
      </geometry>
      <material name="fixture_white"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://dual_fr3_moveit_config/meshes/Trunking.STL"/>
      </geometry>
    </collision>
  </link>

  <joint name="world_to_worktable" type="fixed">
    <parent link="world"/>
    <child link="worktable"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

  <joint name="worktable_to_plate" type="fixed">
    <parent link="worktable"/>
    <child link="plate"/>
    <origin xyz="0.5468955964 0.6484339463 -0.02" rpy="0 0 0"/>
  </joint>

  <joint name="plate_to_trunking" type="fixed">
    <parent link="plate"/>
    <child link="trunking"/>
    <origin xyz="0.2621044036 0.4745660537 0.02" rpy="0 0 0"/>
  </joint>

  <joint name="worktable_to_left_fr3_mount" type="fixed">
    <parent link="worktable"/>
    <child link="left_fr3_mount"/>
    <origin xyz="0.175 0.35 0" rpy="0 0 0"/>
  </joint>

  <joint name="worktable_to_right_fr3_mount" type="fixed">
    <parent link="worktable"/>
    <child link="right_fr3_mount"/>
    <origin xyz="0.175 0.95 0" rpy="0 0 0"/>
  </joint>

  <xacro:franka_robot
      robot_type="fr3"
      joint_limits="${xacro.load_yaml('$(find franka_description)/robots/fr3/joint_limits.yaml')}"
      kinematics="${xacro.load_yaml('$(find franka_description)/robots/fr3/kinematics.yaml')}"
      accelerometer_config="${xacro.load_yaml('$(find franka_description)/robots/fr3/accelerometers.yaml')}"
      inertials="${xacro.load_yaml('$(find franka_description)/robots/fr3/inertials.yaml')}"
      dynamics="${xacro.load_yaml('$(find franka_description)/robots/fr3/dynamics.yaml')}"
      parent="world"
      hand="false"
      ee_id="$(arg ee_id)"
      rpy_ee="0 0 ${-pi/4}"
      tcp_xyz="0 0 0.1034"
      tcp_rpy="0 0 0"
      safety_distance="0.03"
      with_sc="false"
      no_prefix="false"
      arm_prefix="left_"
      connected_to="left_fr3_mount"
      rpy="0 0 $(arg arm_yaw)"/>

  <xacro:franka_robot
      robot_type="fr3"
      joint_limits="${xacro.load_yaml('$(find franka_description)/robots/fr3/joint_limits.yaml')}"
      kinematics="${xacro.load_yaml('$(find franka_description)/robots/fr3/kinematics.yaml')}"
      accelerometer_config="${xacro.load_yaml('$(find franka_description)/robots/fr3/accelerometers.yaml')}"
      inertials="${xacro.load_yaml('$(find franka_description)/robots/fr3/inertials.yaml')}"
      dynamics="${xacro.load_yaml('$(find franka_description)/robots/fr3/dynamics.yaml')}"
      parent="world"
      hand="false"
      ee_id="$(arg ee_id)"
      rpy_ee="0 0 ${-pi/4}"
      tcp_xyz="0 0 0.1034"
      tcp_rpy="0 0 0"
      safety_distance="0.03"
      with_sc="false"
      no_prefix="false"
      arm_prefix="right_"
      connected_to="right_fr3_mount"
      rpy="0 0 $(arg arm_yaw)"/>

  <xacro:if value="$(arg load_gripper)">
    <xacro:research_franka_hand
        connected_to="left_fr3_link8"
        prefix="left_fr3_"
        ee_inertials="${xacro.load_yaml('$(find franka_description)/end_effectors/franka_hand/inertials.yaml')}"
        rpy_ee="0 0 ${-pi/4}"
        tcp_xyz="0 0 0.1524"
        tcp_rpy="0 0 0"/>

    <xacro:research_franka_hand
        connected_to="right_fr3_link8"
        prefix="right_fr3_"
        ee_inertials="${xacro.load_yaml('$(find franka_description)/end_effectors/franka_hand/inertials.yaml')}"
        rpy_ee="0 0 ${-pi/4}"
        tcp_xyz="0 0 0.1524"
        tcp_rpy="0 0 0"/>
  </xacro:if>

  <xacro:if value="$(arg load_left_ros2_control)">
    <xacro:franka_arm_ros2_control
        robot_type="fr3"
        robot_ip="$(arg left_robot_ip)"
        use_fake_hardware="$(arg use_fake_hardware)"
        fake_sensor_commands="$(arg fake_sensor_commands)"
        arm_prefix="left_"/>
  </xacro:if>

  <xacro:if value="$(arg load_right_ros2_control)">
    <xacro:franka_arm_ros2_control
        robot_type="fr3"
        robot_ip="$(arg right_robot_ip)"
        use_fake_hardware="$(arg use_fake_hardware)"
        fake_sensor_commands="$(arg fake_sensor_commands)"
        arm_prefix="right_"/>
  </xacro:if>
</robot>
